.buttonContainer {
  width: 400px;
  margin: 0 auto;
  background: #121212;
}

.button {
  width: 25%;
  height: 75px;
  border: 6px solid #121212;;
  border-radius: 15px;
  font-size: 22px;
}

.button:hover {
  background: orange;
  color: #fff;
}

.double {
  width: 50%;
}

.main {
  background: orange;
  color: #fff;
}

.main:hover {
  background: #fff;
  color: orange;
}

@media screen and (max-width: 768px) {
  .buttonContainer {
    width: 100%;
  }
  
}
