.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.navigation {
  gap: 20px;
  display: flex;
}

.links {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  padding-right: 20px;
}

.border {
  border-right: 1px solid #000;
}
