.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 20px; */
  margin-left: 20px;
  margin-right: 20px;
  background: white;
}

.navigation {
  gap: 20px;
  display: flex;
}

.logo-text {
  color: purple;
}

.links {
  text-decoration: none;
  font-weight: 500;
  padding-right: 20px;
  color: purple;
}

.border {
  border-right: 1px solid purple;
}

@media screen and (max-width: 768px) {
  .logo-text {
    font-size: 18px;
  }
  
}